/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbarstyles {
  display: none;
}

.navbarstyles .linkmain {
  display: none;
}

.line {
  background: #ec5242;
  height: 1px;
  width: 30px;
}

.home .Hamburgermenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  width: 37px;
}

.home .headstyle .menunavbar {
  display: none;
}

.home .headstyle .menunavbar2 {
  background: #c6c6c6;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 1em;
  left: 0;
  top: 0;
  flex-direction: column;
  color: black;
  font-size: x-large;
}

.home .headstyle .menunavbar2 .styleaboutlink {
  cursor: pointer;
  color: black;
  animation-name: aboutbutton;
  animation-duration: 3s;
  animation-delay: 2s;
  text-decoration: none;
}

.home .headstyle .menunavbar2 .styleaboutlink:hover {
  color: #ec5242;
}

.home .stylelogo1 {
  display: none;
}

.home li {
  padding: 1em;
}

.hiddenMobile {
  display: none;
}

.styleheader {
  background: #dad6d6ca;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.styleheader .titleheader1 {
  font-size: 2em;
  color: #ec5242;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.styleheader .titleheader2 {
  font-size: 1.8em;
  font-weight: 800;
  color: #ec5242;
  text-align: center;
  font-family: 'COCOGOOSE', sans-serif;
}

.styleheader .titleheader3 {
  font-size: 1.8em;
  color: #ec5242;
}

.styleheader .introduction {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #c6c6c6;
  text-align: center;
  margin-top: 20px;
  background: white;
}

.styleheader .information {
  font-size: small;
  padding-top: 10px;
  text-align: center;
}

.styleheader .introductiondesktop {
  display: none;
}

.styleheader .linkinfo {
  color: #272a31;
  text-decoration: none;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #c6c6c6;
  gap: 1em;
}

.logo .tittlemainprogram {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 18px;
  color: black;
  font-size: x-large;
  text-align: center;
}

.logo .infologo {
  text-align: center;
  display: none;
  padding: 5px;
}

.logo .infologomobile {
  text-align: center;
  padding-top: 1em;
  width: 20em;
}

.logo .logostyle {
  width: 13em;
  display: flex;
  border: 2px solid #c6c6c6;
  margin: 3em;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.Globalsite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.Globalsite .tittlemainprogram {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  color: black;
  font-size: x-large;
  align-items: center;
}

.Globalsite .headsites {
  text-align: center;
}

.Globalsite .siteconference {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.Globalsite .siteconference .stylesite {
  width: 23em;
}

.partnership {
  display: flex;
  justify-content: center;
  background: #272a31;
  flex-direction: column;
  align-items: center;
}

.partnership .tittlemainprogram3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  color: white;
}

.partnership .wrapper3 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.partnership .wrapper3 .stylelogpartnership {
  width: 8em;
  float: left;
}

.licensestyle {
  display: flex;
  flex-direction: row;
  height: 5em;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  gap: 1em;
  padding: 1em;
}

.licensestyle .imagestylelicense {
  width: 8em;
}

@media screen and (min-width: 768px) {
  .navbarstyles {
    background-color: #272a31;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 2em;
    padding-right: 20em;
    color: white;
  }

  .navbarstyles .linkmain {
    display: flex;
    gap: 1em;
  }

  .home .Hamburgermenu {
    display: none;
  }

  .home .headstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .home .headstyle .stylelogo1 {
    display: flex;
    width: 4em;
    margin-right: 10em;
    margin-left: 10em;
  }

  .home .headstyle .menunavbar {
    list-style: none;
    color: #272a31;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .home .headstyle .menunavbar .CCcampain {
    border: 2px solid #ec5242;
    padding: 10px;
  }

  .home .menunavbar2 .styleaboutlink {
    cursor: pointer;
    color: black;
    animation-name: aboutbutton;
    animation-duration: 3s;
    animation-delay: 2s;
    text-decoration: none;
  }

  .home .menunavbar2 .styleaboutlink:hover {
    color: #ec5242;
  }

  .styleheader {
    background: #dad6d6ca;
  }

  .styleheader .introduction {
    display: none;
  }

  .styleheader .introductiondesktop {
    padding: 1em;
    background: white;
    border: 1px solid #c6c6c6;
    margin-top: 20px;
    font-size: unset;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .styleheader .closemenu {
    display: none;
  }

  .hiddenDesktop {
    display: none;
  }
}

.separationinformation {
  display: none;
}

.tittledate {
  color: #272a31;
  font-size: xx-large;
  margin-top: 10px;
}

.tittlesite {
  font-size: larger;
  padding-top: 10px;
}
