/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,900&display=swap');
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/font-face";

$desktop:768px;

@font-face {
  font-family: 'COCOGOOSE Regular';
  font-style: normal;
  font-weight: normal;
  src: local("COCOGOOSE Regular"), url("../../fonts/cocogoose_trial.woff") format("woff");
}

.showcontent {
  display: none !important;
}

body {
  font-family: 'Lato', sans-serif;
}

/* *{
  border:2px solid red !important;
} */

.styleheader {
  background: #dad6d6ca;

  .headstyle {
    .menunavbar2 {
      display: none;
      background: #c6c6c6;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 1em;
      left: 0;
      gap: 1em;
      flex-direction: column;
      color: black;
      font-size: x-large;

      .styleaboutlink {
        cursor: pointer;
        color: black;
        animation-name: aboutbutton;
        animation-duration: 3s;
        animation-delay: 2s;
        text-decoration: none;

        &:hover {
          color: #ec5242;
        }
      }
    }
  }

  .navbarstyles {
    background-color: white;
    flex-direction: row;
    display: flex;
    height: 68px;

    .Hamburgermenu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;
      width: 37px;
    }

    .stylelogo1 {
      display: none;
    }

    .menunavbar {
      display: none;

      .closemenu {
        top: 1em;
        flex-direction: row;
        right: 1em;
        position: fixed;
      }

      li {
        padding: 1em;
      }
    }

    .hiddenMobile {
      display: none;
    }
  }

  .TittleConference {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    height: 400px;
    gap: 1em;

    .titleheader1 {
      font-size: 2em;
      color: #ec5242;
    }

    .titleheader2 {
      font-size: 1.8em;
      font-weight: 800;
      color: #ec5242;
      text-align: center;
      font-family: 'COCOGOOSE Regular';
    }

    .titleheader3 {
      font-size: 1.8em;
      color: #ec5242;
    }

    .introduction {
      padding: 5px;
      font-size: 1em;
      border: 1px solid #c6c6c6;
      text-align: center;
      margin-top: 20px;
      background: white;
    }

    .introductiondesktop {
      display: none;
    }

    .information {
      font-size: small;
      padding-top: 10px;
      text-align: center;
    }

    .linkinfo {
      color: #272a31;
      text-decoration: none;
      font-size: large;
    }
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #c6c6c6;
  gap: 1em;

  .tittlemainprogram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 18px;
    color: black;
    font-size: x-large;
    text-align: center;
  }

  .line {
    background: #ec5242;
    height: 1px;
    width: 30px;
    display: flex;
    flex-direction: column;
  }

  .infologo {
    text-align: center;
    padding: 0;
    display: none;
  }

  .infologomobile {
    text-align: center;
    padding-top: 1em;
  }

  .logostyle {
    width: 18em;
    display: flex;
    border: 2px solid #c6c6c6;
    padding: 2em;
    margin: 3em;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.Globalsite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  .tittlemainprogram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    color: black;
    font-size: x-large;
    align-items: center;
  }

  .line {
    background: #ec5242;
    height: 1px;
    width: 30px;
  }

  .headsites {
    text-align: center;
  }

  .siteconference {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 5em;

    .stylesite {
      width: 23em;
    }
  }
}

.partnership {
  display: flex;
  justify-content: center;
  background: rgb(39, 42, 49);
  flex-direction: column;
  align-items: center;

  .tittlemainprogram3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    color: white;
  }

  .line {
    background: #ec5242;
    height: 1px;
    width: 30px;
  }

  .wrapper3 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

    .stylelogpartnership {
      width: 8em;
      float: left;
    }
  }
}

.licensestyle {
  display: flex;
  flex-direction: row;
  height: 5em;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  gap: 1em;
  padding: 1em;

  .imagestylelicense {
    width: 8em;
  }
}

@media screen and (min-width: $desktop) {
  .styleheader {
    background: #dad6d6ca;

    .navbarstyles {
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .Hamburgermenu {
        display: none;
      }

      .headstyle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .stylelogo1 {
          display: flex;
          width: 140px;
          margin-right: 10em;
          margin-left: 10em;
        }
      }

      .menunavbar {
        list-style: none;
        color: #272a31;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        .styleaboutlink {
          cursor: pointer;
          color: black;
          animation-name: aboutbutton;
          animation-duration: 3s;
          animation-delay: 2s;
          text-decoration: none;

          &:hover {
            color: #ec5242;
          }
        }

        .closemenu {
          display: none;
        }
      }

      .hiddenDesktop {
        display: none;
      }

      .CCcampain {
        border: 2px solid #ec5242;
        padding: 10px;
      }
    }

    .TittleConference {
      display: flex;
      padding-top: 6em;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      height: 35em;

      .titleheader1 {
        font-size: 2em;
        color: #ec5242;
      }

      .titleheader2 {
        font-size: 3.5em;
        color: #ec5242;
        width: 800px;
        text-align: center;
      }

      .line {
        background: #ec5242;
        height: 1px;
        width: 30px;
      }

      .titleheader3 {
        font-size: 4em;
        color: #ec5242;
      }

      .introduction {
        display: none;
      }

      .information {
        text-align: center;

        .separationinformation {
          display: none;
        }
      }

      .linkinfo {
        color: #272a31;
        text-decoration: none;
        font-size: large;
      }

      .introductiondesktop {
        padding: 1em;
        width: 56em;
        height: 10em;
        background: white;
        border: 1px solid #c6c6c6;
        margin-top: 20px;
        font-size: unset;
        text-align: center;
        display: flex;
      }

      .tittledate {
        color: #272a31;
        font-size: xx-large;
        margin-top: 10px;
      }

      .tittlesite {
        font-size: larger;
        padding-top: 10px;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 500px;
    border: 1px solid #c6c6c6;

    .line {
      background: #ec5242;
      height: 1px;
      width: 30px;
      display: flex;
      flex-direction: column;
    }

    .tittlemainprogram {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 18px;
      color: black;
      font-size: x-large;

      .textglobal {
        display: none;
      }
    }

    .infologomobile {
      display: none;
    }

    .infologo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logostyle {
      width: 27em;
      border: 2px solid #c6c6c6;
      padding: 2em;
      margin: 3em;
    }
  }

  .Globalsite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .tittlemainprogram {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1em;
      color: black;
      font-size: x-large;
      align-items: center;
    }

    .line {
      background: #ec5242;
      height: 1px;
      width: 30px;
    }

    .siteconference {
      display: flex;
      flex-direction: row;
      gap: 1em;
      margin-top: 2em;
      margin-bottom: 5em;

      .stylesite {
        width: 21em;
      }
    }
  }

  .partnership {
    display: none;
    justify-content: center;
    background: rgb(39, 42, 49);
    height: 200px;
    flex-direction: column;
    align-items: center;

    .tittlemainprogram3 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1em;
      padding-bottom: 0;
      color: white;
      font-size: x-large;
    }

    .line {
      background: #ec5242;
      height: 1px;
      width: 30px;
    }

    .wrapper3 {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;

      .stylelogpartnership {
        width: 10em;
      }
    }
  }

  .licensestyle {
    display: flex;
    flex-direction: row;
    height: 5em;
    align-items: center;
    justify-content: center;
    gap: 5em;
    background: #272a31;

    .imagestylelicense {
      width: 10em;
    }

    .styleinfo {
      color: white;
    }
  }
}
