/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,900&display=swap');
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/font-face";

$desktop:768px;

::-webkit-scrollbar {
  display: none;
  }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;

}

  .navbarstyles {
    display: none;
    .linkmain{
      display: none;
    }
  }
  .home{
    .Hamburgermenu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;
      width: 37px;
    }

    .stylelogo1 {
      display: none;
    }

    .menunavbar {
      display: none;
    }

    .menunavbar2 {
      background: #c6c6c6;
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 1em;
      left: 0;
      top: 0;
      gap: 1em;
      flex-direction: column;
      color: black;
      font-size: x-large;

      .styleaboutlink {
        cursor: pointer;
        color: black;
        animation-name: aboutbutton;
        animation-duration: 3s;
        animation-delay: 2s;
        text-decoration: none;

        &:hover {
          color: #ec5242;
        }
      }
    }

  }
    .styleheader {
      background: #dad6d6ca;

  .TittleConference {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap:1em;

    .titleheader1 {
      font-size: 2em;
      color: #ec5242;
    }

    .titleheader2 {
      font-family: 'COCOGOOSE', sans-serif;
      font-size: 1.8em;
      font-weight: 800;
      color: #ec5242;
    }

    .titleheader3 {
      font-size: 1.8em;
      color: #ec5242;
    }

    .introduction {
      padding: 5px;
      font-size: smaller;
      border: 1px solid white;
      font-weight: lighter;
      text-align: justify;
      margin-top: 20px;
    }

    .tittledate {
      font-weight: bold;
      font-size: 1.8em;
      color: #272a31;
      padding-top: 20px;
      font-weight: bold;
    }

    .tittlesite {
      font-size: small;
      padding-top: 10px;
      }
    }
  }

.mainprogram {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #272a31;

  .tittlemainprogram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 0;
    color: white;
  }

  .line {
    background: #ec5242;
    height: 1px;
    width: 30px;
    margin: 10px;
  }

  .wrapper {
    display: grid;
    justify-items: start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 2em;

    .program {
      display: flex;
      flex-direction: row;
      color: white;
      padding: 10px;
      border: 1px solid white;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      align-content: center;
      gap: 1em;
      background: rgba(202, 200, 200, 0.1);

      .stylelogoprograms {
        width: 50px;
      }

      .headprogram {
        color: #ec5242;
        text-align: initial;
      }

      .infomationprogram1 {
        display: flex;
      }
    }
  }

  .joinSummit {
    background-color: #ec5242;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    border: #ec5242;
    font-size: unset;
  }

  .linkprogram {
    display: none;
  }
}

.featuredspeakers {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tittlemainprogram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    color: black;
    align-items: center;
    font-size: medium;
  }

  .line {
    background: #ec5242;
    height: 1px;
    width: 30px;
  }

  .wrapper2 {
    #showcontent {
      display: none;
    }

    .cardspeaker {
      display: flex;
      flex-direction: row;
      gap: 0.9em;
      padding: 1em;
      width: auto;

      .speakerstyle {
        width: 7em;
      }

      .speaker {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3px;

        .namespeaker {
          color: black;
          font-size: larger;
          font-weight: 700;
        }

        .studyies {
          color: #ec5242;
          font-size: x-small;
        }

        .line2 {
          background: #d3d3d3;
          height: 1px;
          width: 30px;
        }

        .topic {
          font-size: x-small;
        }
      }
    }
  }

  .stylebutton {
    background-color: white;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d3d3d3;
    margin: 1em;
    width: 368px;
    justify-content: center;
    font-size: unset;
    gap: 1em;

    .stylearrow {
      width: 10px;
    }
  }
}

.partnership {
  display: flex;
  justify-content: center;
  background: rgb(39, 42, 49);
  flex-direction: column;
  align-items: center;

  .tittlemainprogram3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 0;
    color: white;
    font-size: x-large;
  }

  .line {
    background: #ec5242;
    height: 1px;
    width: 30px;
  }

  .wrapper3 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

    .stylelogpartnership {
      width: 8em;
      float: left;
    }
  }
}

.licensestyle {
  display: flex;
  flex-direction: row;
  height: 5em;
  align-items: center;
  justify-content: space-evenly;
  background: #d3d3d3;
  gap: 1em;
  padding: 10px;

  .imagestylelicense {
    width: 8em;
  }
}

@media screen and (min-width: $desktop) {

  ::-webkit-scrollbar {
    overflow:visible;
    }

    .navbarstyles {
      background-color: #272a31;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 2em;
      padding-right: 25em;

      .linkmain{
        display: flex;
        gap: 1em;
      }
    }
      .home{
        .Hamburgermenu {
          display: none;
        }
  
        .headstyle {
          display: flex;
          align-items: center;
          gap: 3em;
          flex-direction: row;
          justify-content: center;
          height: 4em;
  
          .stylelogo1 {
            display: flex;
            width: 4em;
            margin-right: 10em;
          }
        }
  
        .menunavbar {
          display: flex;
          gap: 2em;
          align-items: center;
  
          .closemenu {
            display: none;
          }
          .menunavbar2{
            display: none !important;
          }
  
          .styleaboutlink {
            cursor: pointer;
            color: black;
            animation-name: aboutbutton;
            animation-duration: 3s;
            animation-delay: 2s;
            text-decoration: none;
  
            &:hover {
              color: #ec5242;
            }
          }
        }
  
        .menunavbar2 {
          display: none;
        }
  
        .CCcampain {
          border: 3px solid #ec5242;
          padding: 10px;
        }

      }

    .styleheader {
      background: #dad6d6ca;
      .TittleConference {
        display: flex;
        padding-left: 25em;
        padding-top: 6em;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
  
        .titleheader1 {
          font-size: 2em;
          color: #ec5242;
        }
  
        .titleheader2 {
          font-family: 'COCOGOOSE', sans-serif;
          font-size: 4em;
          color: #ec5242;
          width: 800px;
        }
  
        .titleheader3 {
          font-size: 4em;
          color: #ec5242;
        }
  
        .introduction {
          padding: 15px;
          width: 593px;
          border: 1px solid white;
          text-align: inherit;
          font-size: smaller;
          margin-top: 20px;
        }
  
        .tittledate {
          color: #272a31;
          font-size: xx-large;
          margin-top: 10px;
          font-weight: bold;
        }
  
        .tittlesite {
          font-size: larger;
          padding-top: 10px;
        }
      }
    }  
   
  

  .mainprogram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
    height: 24em;

    .tittlemainprogram {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1em;
      color: white;
      font-size: x-large;
    }

    .line {
      background: #ec5242;
      height: 1px;
      width: 30px;
    }

    .wrapper {
      display: flex;
      place-items: center;
      flex-direction: row;
      padding-top: 2em;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-left: 15em;
      margin-right: 15em;
      gap: 1em;

      .program {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 10px;
        border: 1px solid white;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-content: center;
        cursor: pointer;
        gap: 5px;
        background: rgba(202, 200, 200, 0.1);
          &:hover{
            border: 1px solid #ec5242;
          }

        .stylelogoprograms {
          width: 50px;
        }

        .headprogram {
          text-align: center;
          color: rgb(236, 82, 66);
          width: 160px;
        }

        .infomationprogram1 {
          text-align: center;
        }
      }
    }

    .joinSummit {
      display: none;
    }

    .linkprogram {
      color: white;
      text-decoration: underline;
      padding: 3em;
    }
  }

  .featuredspeakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    .tittlemainprogram {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1em;
      color: black;
      font-size: x-large;
      align-items: center;
    }

    .line {
      background: #ec5242;
      height: 1px;
      width: 30px;
    }

    .wrapper2 {
      display: grid;
      grid-template-columns: 30% 30%;
      justify-content: center;
      justify-items: center;
      gap: 1em;

      #showcontent {
        display: none;
      }

      .cardspeaker {
        display: flex;
        flex-direction: row;
        gap: 0.9em;
        padding: 1em;

        .speakerstyle {
          width: 7em;
        }

        .speaker {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 3px;

          .namespeaker {
            color: black;
            font-size: larger;
            font-weight: 700;
          }

          .studyies {
            color: #ec5242;
            font-size: x-small;
          }

          .line2 {
            background: #d3d3d3;
            height: 1px;
            width: 30px;
          }
        }
      }
    }

    .stylebutton {
      background-color: white;
      padding: 20px;
      color: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid #d3d3d3;
      margin: 1em;
      width: 368px;
      justify-content: center;
      font-size: unset;
      gap: 1em;

      .stylearrow {
        width: 10px;
      }
    }
  }

  .partnership {
    display: flex;
    justify-content: center;
    background: rgb(39, 42, 49);
    height: 200px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .tittlemainprogram3 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1em;
      padding-bottom: 0;
      color: white;
      font-size: x-large;
    }

    .line {
      background: #ec5242;
      height: 1px;
      width: 30px;
    }

    .wrapper3 {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;

      .stylelogpartnership {
        width: 10em;
      }
    }
  }

  .licensestyle {
    display: flex;
    flex-direction: row;
    height: 5em;
    align-items: center;
    justify-content: center;
    gap: 5em;
    background: #d3d3d3;

    .imagestylelicense {
      width: 10em;
    }
  }
}
